@layout('layouts/main')

@section('content')
  <div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold mb-4">Erro</h1>
    <p>Ocorreu um erro durante o processamento da solicitação.</p>
  </div>
@end