<footer class="bg-white">
    <div class="mx-auto max-w-7xl py-12">
      <p class="text-center text-xs leading-5 text-gray-500">&copy; Review Gastronomico, 2023.</p>
      <p class="text-center text-xs leading-5 text-gray-500">Facebook / Twitter /  Links Uteis</p>
    </div>
  </footer>
  
