@extends('layouts/main')

@section('content')
  <h2>Login</h2>

  @if (session.has('loginError'))
    <p style="color: red;">{{ session.get('loginError') }}</p>
  @endif

  <form action="{{ route('login') }}" method="post">
    {{ csrfField() }}

    <label for="email">Email:</label>
    <input type="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>
  </form>
@endsection
