@layout('layouts/main')

@section('content')
  <div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold mb-4">Meus Posts</h1>
    <ul>
      @each(post in posts)
        <li>
          <h2>{{ post.title }}</h2>
          <p>{{ post.content }}</p>
        </li>
      @end
    </ul>
  </div>
@end